
.prev_next {
    display: flex;
    align-items: stretch;
    margin-top: 3rem;
}
.prev_next a {
    width: calc(50% - 1rem);
    align-items: center;
    display: inline-block;
    padding: 1rem;
    background-color: #fafafa;
    line-height: var(--line-height-small);
}
.prev_next a:hover {
    text-decoration: none;
    background-color: var(--color-background-faded);
}
.prev_next .prev {
    margin-right: 1rem;
}
.prev_next .next {
    text-align: right;
    margin-left: calc(50% + 2rem);
    justify-content: flex-end;
}
.prev_next .prev + .next {
    margin-left: 1rem;
}
