.logoContainer {
    @apply relative drop-shadow-2xl;
    width: 180px;
    height: 180px;
}

.logo {
    @apply absolute inset-0 rounded-full shadow overflow-hidden transition duration-500;
    backface-visibility: hidden;
}

.xdean {
    transform-origin: 50% 0;
    z-index: 2;
}

.logoContainer:hover .xdean {
    transform: rotate(135deg);
}

.xd {
    z-index: 1;
}

.link {
    text-shadow: 0 0 2px white, 0 0 4px black;
}

.link:hover {
    text-shadow: none;
}