.links {
    @apply flex flex-col lg:flex-row items-center space-y-2 lg:space-x-4 text-3xl;

}

.links a {
    @apply hover:underline;
}


.logoContainer {
    @apply relative;
    width: 180px;
    height: 180px;
}

.logo {
    @apply absolute inset-0 rounded-full shadow overflow-hidden transition duration-1000;
    backface-visibility: hidden;
}

.xdean {
    animation: xdean infinite ease-in-out alternate 5s;
}

.xd {
    transform: rotateX(180deg);
    animation: xd infinite ease-in-out alternate 5s;
}

@keyframes xdean {
    0%, 80% {
        transform: rotateX(0);
    }
    90%, 100% {
        transform: rotateX(180deg);
    }
}

@keyframes xd {
    0%, 80% {
        transform: rotateX(180deg);
    }
    90%, 100% {
        transform: rotateX(0);
    }
}